{% extends "EkynaCmsBundle::base.xml.twig" %}

{% block response %}
{% spaceless %}

{% if title is defined %}
<title><![CDATA[
    {{ title|trans|raw }}
]]></title>
{% endif %}

{% if form is defined %}
<form><![CDATA[
    <form action="{{ path('ekyna_advertisement_example_submit') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ bootstrap_set_style('horizontal') }}
        <div class="form-body">
            {{ form_widget(form) }}
        </div>
        {{ ui_form_footer(form) }}
    </form>
]]></form>
{% endif %}

{% if result is defined %}
<result><![CDATA[
    {{ result|raw }}
]]></result>
{% endif %}

{% endspaceless %}
{% endblock response %}