<div class="form-body form-body-unstyled">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('sm') }}
    {{ form_errors(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.email) }}
    {{ form_row(form.address) }}
    {{ form_row(form.content) }}

    {{ form_rest(form) }}
</div>